/* ==========================================================================
   Base styles
   ========================================================================== */
body {
    font-size: 14px;
    color: #222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.site {
    padding-top: 70px;
}

/* ==========================================================================
   Typography
   ========================================================================== */
h1 {}
h2 {}
h3 {}
h4 {}
p {}
a {}

/* ==========================================================================
   Header
   ========================================================================== */
.site-header .navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #337AB7;
    color: #fff;
}

/* ==========================================================================
   Main content
   ========================================================================== */
.site-content {
    padding: 40px 0 40px;
}

/* ==========================================================================
   Elements
   ========================================================================== */
.btn-group a {
    display: block;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.site-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

@media only screen and (max-width: 450px) {}


